.primary-button {
  background: #333333;
  color: #FFFFFF;
  border: 1px solid transparent;
  padding: 12px 18px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

.primary-button:hover {
  background: #222222;
}

.secondary-button {
  background: transparent;
  color: pink;
  border: 1px solid lightcoral;
  padding: 12px 18px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

.secondary-button:hover {
  background: palevioletred;
}